.st-Arrow_Wrapper_Page_Top
  .st-Arrow_Inner
    .st-Arrow_Line_Mask
      .st-Arrow_Line.black
    .st-Arrow_Triangle
      .st-Arrow_Triangle_Mask.first
        .st-Arrow_Triangle_Line.first.black
      .st-Arrow_Triangle_Mask.second
        .st-Arrow_Triangle_Line.second.black
