.st-Arrow_Wrapper.js-img_scroll_fade_in
  .st-Arrow_Inner
    .st-Arrow_Line_Mask
      .st-Arrow_Line.white
    .st-Arrow_Triangle
      .st-Arrow_Triangle_Mask.first
        .st-Arrow_Triangle_Line.first.white
      .st-Arrow_Triangle_Mask.second
        .st-Arrow_Triangle_Line.second.white
