mixin page_top(path)
  .st-Page_Top#js-Page_Top
    a(href="#")
      img.arrow(src=path + "./assets/img/common/arrow_black.svg", alt="arrow")
      include /_includes/_st_arrow_black
      p.txt PAGE TOP
