- var suzuki = "鈴木 雄宇";
- var suzuki_position1 = "デトロイト店";
- var suzuki_position2 = "米州自動車グループ";

- var ebukuro = "江袋 勇太";
- var ebukuro_position = "総合経理部";

- var nakamura = "中村 光浩";
- var nakamura_position1 = "シリコンバレー店";
- var nakamura_position2 = "米州事業開発グループ";

- var oomori = "大森 沙美";
- var oomori_position1 = "電力EPC第二部";
- var oomori_position2 = "（チュニジア）";

- var message = "採用チームメッセージ";
- var person = "社員インタビュー";

- var talk = "対談";
- var talker_sakamoto = "酒本 功司";
- var talker_sakamoto_ln = "酒本";
- var talker_takeda = "武田 信隆";
- var talker_takeda_ln = "武田";
- var talker_position = "ニッケル新金属事業部";

- var resident = "駐在員インタビュー";

- var career = "キャリア登録制度";

- var job_category = "募集職種";
