.talk-Contents_05_Wrapper {
  .talk-Contents_05 {
    .talk-Contents_05_Inner {
      display: flex;
      flex-flow: row-reverse;
      margin: 0 auto;
      max-width: 1680px;
      padding-top: 110px;
    }
  }
}

.talk-Contents_05_Img_Wrapper {
  font-size: 0;
  overflow: hidden;
}

.talk-Contents_05_Txt_Wrapper {
  height: 100%;
  max-width: 720px;
  min-width: 720px;

  .talk-Contents_05_Txt_Inner {
    padding: 0 80px;

    .title {
      font-size: 36px;
      margin-bottom: 21px;
    }
  }
}

@include max-screen(1250px) {
  .talk-Contents_05_Wrapper {
    .talk-Contents_05 {
      .talk-Contents_05_Inner {
        display: flex;
        flex-flow: row-reverse;
        margin: 0 auto;
        max-width: 1024px;
        padding-top: 110px;
      }
    }
  }

  .talk-Contents_05_Img_Wrapper {
    font-size: 0;
    overflow: visible;
    width: 50%;

    img {
      // height: 458px;
      width: 100%;
    }
  }

  .talk-Contents_05_Txt_Wrapper {
    height: 100%;
    max-width: auto;
    min-width: auto;
    width: 50%;

    .talk-Contents_05_Txt_Inner {
      padding: 0 30px;

      .title {
        font-size: 36px;
        margin-bottom: 21px;
      }
    }
  }
}

@include max-screen($BREAK_POINT_TABLET) {
  .talk-Contents_05_Wrapper {
    .talk-Contents_05 {
      .talk-Contents_05_Inner {
        display: block;
        flex-flow: row;
        margin: 0 auto;
        max-width: 100%;
        padding-top: 60px;
      }
    }
  }

  .talk-Contents_05_Img_Wrapper {
    font-size: 0;
    overflow: hidden;
    text-align: center;
    width: 70%;

    img {
      // height: 380px;
      // width: 500px;
      width: 100%;
    }
  }

  .talk-Contents_05_Txt_Wrapper {
    height: 100%;
    max-width: 100%;
    min-width: 100%;

    .talk-Contents_05_Txt_Inner {
      padding: 40px 40px 0;

      .title {
        font-size: 36px;
        margin-bottom: 21px;
      }
    }
  }
}

@include max-screen($BREAK_POINT_SP_iPhone6) {
  .talk-Contents_05_Wrapper {
    .talk-Contents_05 {
      .talk-Contents_05_Inner {
        display: block;
        flex-flow: row;
        margin: 0 auto;
        max-width: 100%;
        padding-top: 40px;
      }
    }
  }

  .talk-Contents_05_Img_Wrapper {
    font-size: 0;
    overflow: hidden;
    width: 95%;

    img {
      // height: 244px;
      // width: 320px;
    }
  }

  .talk-Contents_05_Txt_Wrapper {
    height: 100%;
    max-width: 100%;
    min-width: 100%;

    .talk-Contents_05_Txt_Inner {
      padding: 20px 20px 7px;

      .title {
        font-size: 36px;
        margin-bottom: 21px;
      }
    }
  }
}
