extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= `${career}｜住友商事株式会社`;
  - var pageDescription= `キャリア採用で入社した社員が日々どんなやりがいを持って働いているか紹介します。`;
  - var pageKeywords= `住友商事株式会社,${career}`;
  //- Optional
  - var pageOgpTitle= pageTitle;
  //- - var pageOgpImage= site.ogpImage
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= "career/index.html";
  - var classname_mv = "Underlayer";

block content
  //- contents

  //- MV
  .career-Mv_Wrapper
    .career-Mv
      .career-Mv_Inner
        .career-Txt_Inner
          h2.title.font-Noto.st-Title_Fade_In_01 #{career}について
          p.description.st-Title_Fade_In_02 キャリア登録とは、ご自身のキャリアをご登録いただくことで、適した職種·ポジションがある場合、<br class="hidden_SP">選考のご案内をさせていただく仕組みです。住友商事では「攻め」の事業戦略で更なる飛躍を目指しており、幅広い分野でプロフェッショナルを求めています。
    include /_includes/_st_mv_grid

  include /_includes/_bg_cube_grid
    //- コンテンツ1（キャリア登録の特長）
    .career-Contents_01_Wrapper
      .career-Contents_01
        .career-Contents_01_Inner
          h3.title.font-Noto.wow.fadeInUp(data-wow-delay='0.2s') キャリア登録の特長
          .career-Contents_01_Img_Wrapper
            .career-Contents_Img_Detail_Wrapper.wow.fadeInUp(data-wow-delay='0.4s')
              img(src='../assets/img/career/career-contents_01_point01_min.jpg', alt='キャリア登録の特長 point 01')
              .career-Contents_Img_Detail_Box.wow.fadeInUp(data-wow-delay='0.8s')
                p.title-Detail POINT 01
                p.body ご対応いただくのは最初の登録のみです。<br class="hidden_SP">慎重に一定期間（ご登録から1年間）検討させていただきます。
            .career-Contents_Img_Detail_Wrapper.wow.fadeInUp(data-wow-delay='0.6s')
              img(src='../assets/img/career/career-contents_01_point02_min.jpg', alt='キャリア登録の特長 point 02')
              .career-Contents_Img_Detail_Box.wow.fadeInUp(data-wow-delay='1.0s')
                p.title-Detail POINT 02
                p.body 特定の職種·ポジションに限定することなく登録できるので、今までにない新しいチャレンジの場が見つかる可能性があります。

    //- コンテンツ2（キャリア登録の仕組み）
    .career-Contents_02_Wrapper
      .career-Contents_02
        .career-Contents_02_Inner
          h3.title.font-Noto.wow.fadeInUp(data-wow-delay='0.2s') キャリア登録の仕組み
          .career-Contents_02_Img_Wrapper.wow.fadeInUp(data-wow-delay='0.4s')
            img.pc(src='../assets/img/career/career-contents_02_min.png', alt='キャリア登録の仕組み')
            img.sp(src='../assets/img/career/career-contents_02_sp_min.png', alt='キャリア登録の仕組み')

    //- コンテンツ3（注意事項）
    .career-Contents_03_Wrapper
      .career-Contents_03
        .career-Contents_03_Inner
          h3.title.font-Noto.wow.fadeInUp(data-wow-delay='0.2s') 注意事項
          .career-Contents_03_List_Wrapper
            ul
              li.wow.fadeInUp(data-wow-delay='0.4s') キャリア登録はご登録いただいた全ての方に選考の機会をお約束するものではありません。<br class="hidden_SP">当社における職種·ポジションのニーズに合致すると判断した方にのみご連絡いたします。
              li.wow.fadeInUp(data-wow-delay='0.6s') 登録いただいた情報の有効期限は1年間とさせていただきます。万一、登録抹消を希望される場合はメールでご連絡ください。
          .career-Contents_03_Box_Wrapper.wow.fadeInUp(data-wow-delay='0.8s')
            .career-Contents_03_Box_Title_Wrapper
              p 連絡先
            .career-Contents_03_Box_Body_Wrapper
              p 住友商事株式会社 人事部採用チーム
              a(href='mailto:sumitomocorp-careers@sumitomocorp.co.jp') sumitomocorp-careers@sumitomocorp.co.jp
          .career-Contents_03_Box_Link_Wrapper.wow.fadeInUp(data-wow-delay='1.0s')
            a(href='https://job.axol.jp/bw/c/sumitomocorp/entry_RI6Dcjanqhfog/agreement', target="_blank")
              p.font-Noto キャリア登録はこちら
              img.arrow(src="../assets/img/common/arrow_white.svg", alt="arrow")
              include /_includes/_st_arrow_white
