.message-Mv_Wrapper {
  .message-Mv {
    .message-Mv_Inner {
      position: relative;

      background: url("../img/message/message-mv_min.jpg")bottom 0 center /cover no-repeat;
      height: 100vh;
    }
  }
}

.message-Txt_Inner {
  position: absolute;
  top: 50%;
  left: 50%;

  color: #ffffff;
  letter-spacing: 1px;
  line-height: 2;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;

  .title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 38px;
  }

  .description {
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 700px;
  }
}

@include max-screen($BREAK_POINT_TABLET) {
  .message-Mv_Wrapper {
    .message-Mv {
      .message-Mv_Inner {
        position: relative;

        background: url("../img/message/message-mv_min.jpg")bottom 0 center /cover no-repeat;
        height: 100vh;
      }
    }
  }

  .message-Txt_Inner {
    position: absolute;
    top: 50%;
    left: 50%;

    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;

    .title {
      font-size: 30px;
      margin-bottom: 38px;
    }

    .description {
      font-size: 14px;
      margin-bottom: 10px;
      width: 80%;
    }
  }
}

@include max-screen($BREAK_POINT_SP_iPhone6) {
  .message-Mv_Wrapper {
    .message-Mv {
      .message-Mv_Inner {
        position: relative;

        background: url("../img/message/message-mv_min.jpg")bottom 0 center /cover no-repeat;
        height: 100vh;
      }
    }
  }

  .message-Txt_Inner {
    position: absolute;
    top: 51%;
    left: 50%;

    color: #ffffff;
    letter-spacing: 1px;
    padding: 0 30px;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;

    .title {
      font-size: 23px;
      margin-bottom: 11px;
    }

    .description {
      font-size: 10px;
      margin-bottom: 14px;
      width: 100%;
    }
  }
}
