.person-Contents_02_Wrapper {
  .person-Contents_02 {
    .person-Contents_02_Inner {
      position: relative;

      margin: 0 auto 190px;
      max-width: 1920px;
    }
  }
}

.person-Contents_02_Bg_Img_Wrapper {
  margin-right: -10px;
  width: 81%;

  .person-Contents_02_Txt_Wrapper {
    color: #ffffff;
    padding-bottom: 140px;
    padding-left: 12%;
    padding-top: 160px;
    width: 55%;

    .title {
      font-size: 36px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .body {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 2.2;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &.person-01 {
    background: url("../img/person/01/person-contents_02_bg_min.jpg")bottom 0 right /cover no-repeat;
  }
  &.person-02 {
    background: url("../img/person/02/person-contents_02_bg_min.jpg")bottom 0 center /cover no-repeat;
  }
}

.person-Contents_02_Img_Wrapper {
  position: absolute;
  top: 160px;
  right: 0;

  // img {
  //   display: none;
  // }
}

@include max-screen(1500px) {
  .person-Contents_02_Wrapper {
    .person-Contents_02 {
      .person-Contents_02_Inner {
        position: relative;

        margin: 0 auto 190px;
        max-width: 1920px;
      }
    }
  }

  .person-Contents_02_Bg_Img_Wrapper {
    margin-right: -10px;
    width: 84%;

    .person-Contents_02_Txt_Wrapper {
      color: #ffffff;
      padding-bottom: 140px;
      padding-left: 4%;
      padding-top: 130px;
      width: 60%;

      .title {
        font-size: 36px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .body {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 2.2;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    &.person-01 {
      background: url("../img/person/01/person-contents_02_bg_min.jpg")bottom 0 right /cover no-repeat;
    }
    &.person-02 {
      background: url("../img/person/02/person-contents_02_bg_min.jpg")bottom 0 center /cover no-repeat;
    }
  }

  .person-Contents_02_Img_Wrapper {
    position: absolute;
    top: 130px;
    right: 0;

    img {
      display: block;
      margin-left: auto;
      max-width: 720px;
      width: 80%;
    }
  }
}

@include max-screen(1300px) {
  .person-Contents_02_Wrapper {
    .person-Contents_02 {
      .person-Contents_02_Inner {
        position: static;

        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 80px;
        max-width: 1920px;
      }
    }
  }

  .person-Contents_02_Bg_Img_Wrapper {
    margin-right: auto;
    width: 97%;

    .person-Contents_02_Txt_Wrapper {
      color: #ffffff;
      margin: 0 auto;
      padding-bottom: 14%;
      padding-left: 0;
      padding-top: 60px;
      width: 70%;

      .title {
        font-size: 36px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .body {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 2.2;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    &.person-01 {
      background: url("../img/person/01/person-contents_02_bg_min.jpg")bottom 0 right /cover no-repeat;
    }
    &.person-02 {
      background: url("../img/person/02/person-contents_02_bg_min.jpg")bottom 0 center /cover no-repeat;
    }
  }

  .person-Contents_02_Img_Wrapper {
    position: static;
    top: auto;
    right: auto;

    margin-left: auto;
    margin-top: -10%;

    img {
      // width: 550px;
      // height: 618px;
      // width: 80%;
      // height: 100%;
      // display: inline-block;
    }
  }
}

@include max-screen($BREAK_POINT_SP_iPhone6) {
  .person-Contents_02_Wrapper {
    .person-Contents_02 {
      .person-Contents_02_Inner {
        position: static;

        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 22px;
        max-width: 1920px;
      }
    }
  }

  .person-Contents_02_Bg_Img_Wrapper {
    margin-right: auto;
    margin-right: 25px;
    width: 100%;

    .person-Contents_02_Txt_Wrapper {
      color: #ffffff;
      margin: 0 auto;
      padding: 30px 25px 24%;
      width: 100%;

      .title {
        font-size: 19px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .body {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 2;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    &.person-01 {
      background: url("../img/person/01/person-contents_02_bg_min.jpg")top 0 right /cover no-repeat;
    }
    &.person-02 {
      background: url("../img/person/02/person-contents_02_bg_min.jpg")bottom 0 center /cover no-repeat;
    }
  }

  .person-Contents_02_Img_Wrapper {
    position: static;
    top: auto;
    right: auto;

    margin-left: auto;
    margin-top: -15%;

    img {
      height: 100%;
      // height: 392px;
      // width: 350px;
      width: 95%;
      // display: block;
    }
  }
}
